html
{
    background-color: rgb(240, 242, 243);
    color: rgb(93, 95, 96);
}

.navbar
{
    background-color: rgb(224, 233, 240);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.5);
    padding: 1rem;
    
}